.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 2px solid grey;
}

.login-control{
    display: block;
    height: 50px;
    width: 450Px;
    border: 2px solid #dde6ef;
    box-shadow: none;
    padding: 6px 18px;
    border-radius: 10px;
    margin: 0px 0px 20px;
}

.login-inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15PX;

}

p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 0px 0px 10px;
    
}
.col-md-offset-2{
    display: inline-block;
    margin-left: 17%;
    padding: 0px 15px;
}

.heading{
    padding: 0px 0 35px 0;
    display: block;
}

.heading h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 34px;
    color: #334e6f;
    margin: 0px 0px 10px;
}

.newsletter{
    position: relative;
    background-image: url(http://utouchdesign.com/themes/envato/escort/assets/img/bg-new.png);
    background-size: cover !important;
    background-position: center !important;
    background-color: #26ae61;
    padding: 60px 0px;
}

.light{
    color: white;
}
.light h2{
    color: white;
}

.col-md-offset-3{
    margin-left: 25%;
}
.col-md-6{
    width: 50%;
}
.email-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0px 0px 20px;
    padding: 5px 10px;
    border-radius: 10px;
}
span{
    background-color: #26ae611a;
    padding: 6px;
}
span i{
    color: #26ae61;
    font-size: 20px;
    padding: 7px;
}

.form-control{
    padding: 6px 18px;
    border: none;
    box-shadow: none;
    background: transparent;
}


.btn{
    margin: 0px 0px 5px;
    padding: 10px 20px;
    background-color: #26ae61;
    color: white;
    border-radius: 10px;
}

.user-login{
    font-size: 80px;
    padding: 10px 20px;
    color: #26ae61;
    
}
.p1
{
    display: flex;
    flex-direction: column;
}